/* system typefaces */
$serif: "Cormorant Garamond", Georgia, Times, serif !default;
$sans-serif:  "Josefin Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: Libertinus Mono, Monaco, Consolas, "Lucida Console", monospace !default;
